.ubih1{
  @include h1;
}

  .parrubi{
    text-align: center;
    color: $colorblanco;
    background-color: rgba(0, 0, 0, 0.548);
    
    
  }

.tex-ubi{
  color: white;
  text-align: center;
  font-style: italic;
  font-family: 'Brush Script MT';
  font-size: 60px;
  align-items: center;
  }

  iframe{
  background-color: $colornegro;
  border-radius: 20px;
  margin: 28px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 30rem;
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
        

}
    
 
.p-ubicacion{
  color: $colorblanco;
  background-color: $colornegro;
  text-align: center;
  margin: 25px;
  border-radius: 20px;
}     

@media (max-width: 768px) {
  .ubih1{
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .ubih1{
    font-size: 25px;
  }
}


@media (max-width: 375px) {
  .ubih1{
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .ubih1{
    font-size: 24px;
  }
}
      





