$colorblanco: #ffffff;
$colornegro: #000000;
$colorazul:#0D6EFD;
$colorgris:#36363a;


$colores: (
    $colornegro:#000000,
    $colorblanco: #ffffff
);

$fuentestitulos:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuenteparrafos:Georgia, 'Times New Roman', Times, serif;



